extends layout.pug
block content
    .container
        .row
            .col-md-6
                .card.bg-dark.text-white.p-2
                    h3.card-title What's this?
                    p.card-text.
                            You can publish any kind of text on this web app and share it with someone else.
                        Anything besides the actual content is optional. No signing up or something else.
            .col-md-6
                .card.bg-dark.text-white.p-2
                    h3.card-title How do I use it?
                    p.card-text.
                            Just go to the main page, paste/type what you want to publish to the big text box and click send. Then send the URL to the people you want to share the text with. 
            .col-md-12
                .card.bg-dark.text-white.p-2
                    h3.card-title Privacy and stuff
                    p.card-text.
                            I currently have the ability to look at every single submission on this app, but I do not collect IP addresses, OS info etc.
                        I may implement an encryption-password feature in the future but no promises. 
            .col-md-6
                .card.bg-dark.text-white.p-2
                    p.card-text
                        |   All the code is hosted on 
                        a(href="https://github.com/okb1100/yet-another-pastabin") GitHub