extends layout.pug
block content
    .container
        .row
            .col-md-6.mx-auto.alert.alert-danger.text-center#sendError(role="alert" style="display:none")
            .col-md-6.mx-auto.alert.alert-success.text-center#sendSucceeded(role="alert" style="display:none")
                p.mb-2 Your pasta has successfully been sent. 
                    a.alert-link(href="") See it here.
                .input-group
                    span.input-group-btn
                        button.btn.btn-secondary(type="button", onClick="copyToClipboard('#copyLink')") Copy
                    input.form-control.bg-dark.text-white#copyLink(type="text")
        .row#submission
            .col-md-8
                .card.mb-5.bg-dark.text-white
                    .card-body
                        .form-group
                            label(for="thePasta") Paste your content below
                            textarea.form-control.bg-dark.text-white#thePasta(rows="10", required)
                        
                        //.form-group
                            label(for="fileInput") Or upload a file below
                            input.form-control.bg-dark.text-white#filePasta(type="file")
                        
                    .card-footer
                        button.btn.btn-secondary.btn-lg(type="button", onClick="uploadPasta();") Send
            .col-md-4
                .card.bg-dark.text-white
                    .card-body
                        .form-group
                            label(for="pastaName") Title
                            input.form-control.bg-dark.text-white#pastaName(type="text", placeholder="Title(optional)")
                        include syntaxSelector.pug
                        .form-group
                            label(for="uploaderName") Uploader name (optional)
                            input.form-control.bg-dark.text-white#uploaderName(type="text", placeholder="Uploader Name")       
                        .form-group
                            label(for="label") Label (optional)
                            input.form-control.bg-dark.text-white#label(type="text", placeholder="Post Label")