doctype=html
html(language=en)
    block head
        head
            meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Yet Another PastaBin
            link(rel="icon", href="/public/favicon.png")
            link(rel="stylesheet", href="/public/css/bootstrap.min.css")
            link(rel="stylesheet", href="/public/css/styles.css")
            link(rel="stylesheet", href="/public/css/zenburn.css")
            link(rel="stylesheet", href="/public/css/perfect-scrollbar.css")
            script(src="/public/js/jquery.min.js")
            script(src="/public/js/popper.min.js")
            script(src="/public/js/bootstrap.min.js")
            script(src="/public/js/client.js")
            script(src="/public/js/highlight.pack.js")
            script(src="/public/js/perfect-scrollbar.min.js")
    body.bg-dark
        include navbar.pug
        block content