doctype=html
html(language=en)
    block head
        head
            meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Yet Another PastaBin
            link(rel="icon", href="/public/favicon.png")
            script(src="/public/js/bundle.js")
    body.bg-dark
        include navbar.pug
        block content