nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-1
    a.navbar-brand(href="/") PastaBin
    button.navbar-toggler.hidden-lg-up(type="button", data-toggle="collapse", data-target="#collapsibleNavId" aria-controls="collapsibleNav" aria-expanded="false")
        span.navbar-toggler-icon(aria-hidden="true") 
    div.collapse.navbar-collapse#collapsibleNav
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
                a.nav-link(href="/")  Upload
            li.nav-item
                a.nav-link(href="/about")  About