.form-group
    label(for="syntaxSelector") Select syntax (optional)
    select.form-control.bg-dark.text-white#syntaxSelector
        option Plain Text
        option ActionScript
        option Apache
        option AutoHotkey
        option Bash
        option Basic
        option Brainfuck
        option C#
        option C++
        option CSS
        option CoffeeScript
        option Delphi
        option Diff
        option Dockerfile
        option Go
        option Gradle
        option HTML / XML
        option HTTP
        option Ini
        option JSON
        option Java
        option JavaScript
        option Kotlin
        option Lua
        option Makefile
        option Markdown
        option Nginx
        option Objective C
        option PHP
        option Perl
        option Python
        option Ruby
        option Rust
        option SQL
        option Swift