.notify {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: block;
}

.notify > .alert {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container .notify {
  left: 0;
}
